<form method="GET" action="/login" class="form-inline">
  <button type="submit" style="margin-left:8px"><p6 style="color: #0265fa">Login</p6></button>
</form>  
<form method="GET" action="/register" class="form-inline">
  <button type="submit" style="margin-left:8px"><p6 style="color: #0265fa">Register</p6></button>
</form>