<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <title>TinyApp</title>
  </head>
  <body>
    <%- include('partials/_header.ejs') %>
    <main style="margin: 1em;">
      <h1>Login</h1>
      <form method="POST" action="/login">
        <label for="email">Email address: </label>
        <br>
        <input id="email" type="email" name="email" placeholder="Enter email" style="width: 300px">
        <br>
        <label for="password" style="margin-top: 7px">Password: </label>
        <br>
        <input id="password" type="password" name="password" placeholder="Password" style="width: 300px">
        <br>
        <br>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
  </body>
</html>